.App {
  margin: 0 100px;
  max-width: 100%;
  height: auto;
  background-color: #f9f9f9;
}
.link {
  text-decoration: none;
  transition: ease-in-out;
  color: rgb(52, 52, 52);
  font-family: "Aeonik-Regular";
  font-weight: 400;
  font-size: 16px;
  color: #393939;
}
.link:hover {
  color: black;
}
.bar {
  display: flex;
  justify-content: space-between;
}
.log {
  border: 1px solid #f61c31;
  text-decoration: none;
  border-radius: 18px;
  padding: 7px 30px;
  background: white;
  color: #f61c31;
  font-size: 20px;
  font-family: "Aeonik-Regular";
  font-weight: 700;
  transition: ease-in-out;
}
.log:hover {
  color: black;
}
.sign {
  border: 1px solid #f61c31;
  text-decoration: none;
  border-radius: 18px;
  padding: 7px 30px;
  background: #f61c31;
  color: white;
  font-size: 20px;
  font-family: "Aeonik-Regular";
  font-weight: 700;
  transition: ease-in-out;
}
.sign:hover {
  color: black;
}
.active {
  font-family: Aeonik;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #393939;
}
@media (max-width: 500px) {
  .App {
    max-width: 100% !important;
    height: 100% !important;
    margin: 10px;
  }
  .cast {
    display: none;
  }
  .log {
    margin-left: 2px;
    padding: 5px 20px;
  }
  .sign {
    margin-left: 2px;
    padding: 5px 20px;
  }
  .logo {
    width: 80%;
    height: auto;
  }
  .Home {
    margin-top: 50px;
  }
}
